<!DOCTYPE html> <html lang="es-ES"> <head> <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1"> <link rel="profile" href="http://gmpg.org/xfn/11"> <link rel="pingback" href="http://washuwachu.hol.es/xmlrpc.php"> 
<title>WashuWachu &#8211; Lo Mejor en todo Tipo de Ropa de EXCELENTE CALIDAD</title> <link rel="alternate" type="application/rss+xml" title="WashuWachu &raquo; Feed" href="http://washuwachu.hol.es/feed/" /> <link rel="alternate" 
type="application/rss+xml" title="WashuWachu &raquo; RSS de los comentarios" href="http://washuwachu.hol.es/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/washuwachu.hol.es\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return 
g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return 
g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return 
g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var 
c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var 
f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css"> img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style> <link rel='stylesheet' id='pirate_forms_front_styles-css' href='http://washuwachu.hol.es/wp-content/plugins/pirate-forms/css/front.css?ver=4.5.3' type='text/css' media='all' /> <link rel='stylesheet' id='woocommerce-layout-css' 
href='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.6.3' type='text/css' media='all' /> <link rel='stylesheet' id='woocommerce-smallscreen-css' 
href='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.6.3' type='text/css' media='only screen and (max-width: 768px)' /> <link rel='stylesheet' id='woocommerce-general-css' 
href='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.6.3' type='text/css' media='all' /> <link rel='stylesheet' id='zerif_font-css' 
href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C400italic%7CMontserrat%3A400%2C700%7CHomemade+Apple&#038;subset=latin%2Clatin-ext' type='text/css' media='all' /> <link rel='stylesheet' id='zerif_font_all-css' 
href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=latin&#038;ver=4.5.3' type='text/css' media='all' /> <link rel='stylesheet' 
id='zerif_bootstrap_style-css' href='http://washuwachu.hol.es/wp-content/themes/zerif-lite/css/bootstrap.css?ver=4.5.3' type='text/css' media='all' /> <link rel='stylesheet' id='zerif_fontawesome-css' 
href='http://washuwachu.hol.es/wp-content/themes/zerif-lite/css/font-awesome.min.css?ver=v1' type='text/css' media='all' /> <link rel='stylesheet' id='zerif_style-css' href='http://washuwachu.hol.es/wp-content/themes/zerif-lite/style.css?ver=v1' 
type='text/css' media='all' /> <link rel='stylesheet' id='zerif_responsive_style-css' href='http://washuwachu.hol.es/wp-content/themes/zerif-lite/css/responsive.css?ver=v1' type='text/css' media='all' /> <!--[if lt IE 9]> <link rel='stylesheet' 
id='zerif_ie_style-css' href='http://washuwachu.hol.es/wp-content/themes/zerif-lite/css/ie.css?ver=v1' type='text/css' media='all' /> <![endif]--> <link rel='stylesheet' id='sccss_style-css' href='http://washuwachu.hol.es?sccss=1&#038;ver=4.5.3' 
type='text/css' media='all' /> <script type='text/javascript' src='http://washuwachu.hol.es/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script> <script type='text/javascript' 
src='http://washuwachu.hol.es/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script> <script type='text/javascript'> /* <![CDATA[ */ var pirateFormsObject = {"errors":""}; /* ]]> */ </script> <script type='text/javascript' 
src='http://washuwachu.hol.es/wp-content/plugins/pirate-forms/js/scripts-general.js?ver=4.5.3'></script> <!--[if lt IE 9]> <script type='text/javascript' src='http://washuwachu.hol.es/wp-content/themes/zerif-lite/js/html5.js?ver=4.5.3'></script> 
<![endif]--> <link rel='https://api.w.org/' href='http://washuwachu.hol.es/wp-json/' /> <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://washuwachu.hol.es/xmlrpc.php?rsd" /> <link rel="wlwmanifest" 
type="application/wlwmanifest+xml" href="http://washuwachu.hol.es/wp-includes/wlwmanifest.xml" /> <meta name="generator" content="WordPress 4.5.3" /> <meta name="generator" content="WooCommerce 2.6.3" />
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<style type="text/css" id="custom-background-css"> body.custom-background { background-image: url('http://washuwachu.hol.es/wp-content/uploads/2016/07/portada.jpg'); background-repeat: repeat; background-position: top left; 
background-attachment: scroll; } </style> <link rel="icon" href="http://washuwachu.hol.es/wp-content/uploads/2016/07/cropped-LogoMakr-2-32x32.png" sizes="32x32" /> <link rel="icon" 
href="http://washuwachu.hol.es/wp-content/uploads/2016/07/cropped-LogoMakr-2-192x192.png" sizes="192x192" /> <link rel="apple-touch-icon-precomposed" href="http://washuwachu.hol.es/wp-content/uploads/2016/07/cropped-LogoMakr-2-180x180.png" /> <meta 
name="msapplication-TileImage" content="http://washuwachu.hol.es/wp-content/uploads/2016/07/cropped-LogoMakr-2-270x270.png" /> </head>
	<body class="home blog custom-background wp-custom-logo" > <div class="preloader"><div class="status">&nbsp;</div></div> <div id="mobilebgfix">
	<div class="mobile-bg-fix-img-wrap">
		<div class="mobile-bg-fix-img"></div>
	</div>
	<div class="mobile-bg-fix-whole-site"> <header id="home" class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Cambiar navegación</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				
					<div class="navbar-brand">
						
							<a href="http://washuwachu.hol.es/ ">
								<img src="http://washuwachu.hol.es/wp-content/uploads/2016/07/LogoMakr-2.png" alt="WashuWachu">
							</a>
						
					</div> <!-- /.navbar-brand -->
				</div> <!-- /.navbar-header -->
				<nav class="navbar-collapse bs-navbar-collapse collapse" id="site-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<a class="screen-reader-text skip-link" href="#content">Saltar al contenido</a>
		<ul id="menu-menu-principal" class="nav navbar-nav navbar-right responsive-nav main-nav-list"><li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home 
menu-item-17"><a href="http://washuwachu.hol.es">Inicio</a></li> <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="http://washuwachu.hol.es/blog/">Blog</a></li> <li id="menu-item-19" 
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://washuwachu.hol.es/nosotros/">Nosotros</a></li> <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a 
href="http://washuwachu.hol.es/tienda/">Tienda</a></li> <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://washuwachu.hol.es/carro/">Carrito</a></li> </ul>	</nav>
	
		</div> <!-- /.container -->
	</div> <!-- /#main-nav -->
	<!-- / END TOP BAR --><div class="home-header-wrap"> <div class="header-content-wrap"><div class="container"><h1 class="intro-text">La mejor variedad en ropa para damas y caballeros. </h1><div class="buttons"><a href="#aboutus" class="btn 
btn-primary custom-button red-btn">Nosotros</a><a href="http://washuwachu.hol.es/tienda/" class="btn btn-primary custom-button green-btn">Tienda</a></div></div></div><!-- .header-content-wrap --><div class="clear"></div> </div> </header> <!-- / END 
HOME SECTION --> <div id="content" class="site-content"> <section class="our-team" id="team"><div class="container"><div class="section-header"><h2 class="dark-text">NUESTRO EQUIPO</h2></div><div class="row" data-scrollreveal="enter left after 0s over 
0.1s"><span id="zerif_team-widget-1" class="">
			<div class="col-lg-3 col-sm-3 team-box">
				<div class="team-member" tabindex="0">
					
						<figure class="profile-pic">
							<img src="http://washuwachu.hol.es/wp-content/uploads/2016/07/yo.jpg" alt=""/>
						</figure>
						
					<div class="member-details">
						
							<h3 class="dark-text red-border-bottom">Manuel Dorta</h3>
						
						
							<div
								class="position">Fundador</div>
						
					</div>
					<div class="social-icons">
						<ul>
							
															<li>
									<a href="#https://www.facebook.com/profile.php?id=100000405050551"
									   target="_blank">
																					<span class="sr-only">
				                            Facebook account of Manuel Dorta </span>
																					<i class="fa fa-facebook"></i>
									</a>
								</li>
								
						</ul>
					</div>
					
				</div>
			</div>
			</span></div> </div></section><section class="latest-news" id="latestnews"><div class="container"><div class="section-header"><h2 class="dark-text">Blog</h2><div class="dark-text section-legend">OFERTAS</div></div><!-- END 
.section-header --><div class="clear"></div><div id="carousel-homepage-latestnews" class="carousel slide" data-ride="carousel"><div class="carousel-inner" role="listbox"><div class="item active" role="option"><div class="col-sm-3 latestnews-box"><div 
class="latestnews-img"><a class="latestnews-img-a" href="http://washuwachu.hol.es/uncategorized/lo-nuevo/" title="Lo nuevo "><img src="http://washuwachu.hol.es/wp-content/themes/zerif-lite/images/blank-latestposts.png" alt="Lo nuevo " /></a></div><div 
class="latesnews-content"><h3 class="latestnews-title"><a href="http://washuwachu.hol.es/uncategorized/lo-nuevo/" title="Lo nuevo ">Lo nuevo </a></h3><p>Style ink</p> </div></div><!-- .latestnews-box"> --><div class="col-sm-3 latestnews-box"><div 
class="latestnews-img"><a class="latestnews-img-a" href="http://washuwachu.hol.es/caballeros/ofertas/" title="OFERTAS"><img width="250" height="250" src="http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-250x250.jpg" 
class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="etnies_inkerton_white_lg_1" srcset="http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-250x250.jpg 250w, 
http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-150x150.jpg 150w, http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-180x180.jpg 180w, 
http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-300x300.jpg 300w, http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-600x600.jpg 600w, 
http://washuwachu.hol.es/wp-content/uploads/2016/07/etnies_inkerton_white_lg_1-174x174.jpg 174w" sizes="(max-width: 250px) 100vw, 250px" /></a></div><div class="latesnews-content"><h3 class="latestnews-title"><a 
href="http://washuwachu.hol.es/caballeros/ofertas/" title="OFERTAS">OFERTAS</a></h3><p>30% de descuento en artículos de Damas y Caballeros &nbsp;</p> </div></div><!-- .latestnews-box"> --><div class="clear"></div></div></div><!-- .carousel-inner --><a 
class="left carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a><a class="right carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a></div><!-- #carousel-homepage-latestnews --></div><!-- .container --></section> <section class="contact-us" id="contact">
				<div class="container">
					<!-- SECTION HEADER -->
					<div class="section-header">
											</div>
					<!-- / END SECTION HEADER -->
					<div class="row">
	<div class="pirate_forms_wrap">
	
	<form method="post" enctype="application/x-www-form-urlencoded" id="pirate_forms_37" class="pirate_forms "><div class="col-sm-4 col-lg-4 form_field_wrap contact_name_wrap pirate_forms_three_inputs "><label 
for="pirate-forms-contact-name"></label>
					<input id="pirate-forms-contact-name" name="pirate-forms-contact-name" required class="form-control" type="text" value="" placeholder="Nombre"></div><div class="col-sm-4 col-lg-4 form_field_wrap 
contact_email_wrap pirate_forms_three_inputs "><label for="pirate-forms-contact-email"></label>
					<input id="pirate-forms-contact-email" name="pirate-forms-contact-email" required class="form-control" type="email" value="" placeholder="Correo electrónico"></div><div class="col-sm-4 col-lg-4 form_field_wrap 
contact_subject_wrap pirate_forms_three_inputs "><label for="pirate-forms-contact-subject"></label>
					<input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" required class="form-control" type="text" value="" placeholder="Asunto"></div><div class="col-sm-12 col-lg-12 form_field_wrap 
contact_message_wrap ">
					<textarea id="pirate-forms-contact-message" name="pirate-forms-contact-message" required class="form-control" placeholder="Mensaje"></textarea></div>
					<div class="col-xs-12 col-sm-6 col-lg-6 form_field_wrap contact_submit_wrap"><button id="pirate-forms-contact-submit" name="pirate-forms-contact-submit" class="pirate-forms-submit-button" type="submit">Enviar 
mensaje</button></div><div class="form_field_wrap hidden " style="display: none"><label for="form_honeypot">Leave blank to submit</label>
					<input id="form_honeypot" name="honeypot" class="form-control" type="text" value="" placeholder=""></div>
					<input id="wordpress-nonce" name="wordpress-nonce" class="form-control" type="hidden" value="3282aa491f"></form>
		<div class="pirate_forms_clearfix"></div>
	</div></div>
				</div> <!-- / END CONTAINER -->
			</section> <!-- / END CONTACT US SECTION-->
			
</div><!-- .site-content --> <footer id="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="footer-widget-wrap"><div class="container"><div class="footer-widget col-xs-12 col-sm-4"><aside id="text-5" class="widget footer-widget-footer widget_text"> <div class="textwidget"><center><a 
href="http://www.cerotec.net/estadisticas-78630/washuwachu.hol.es" title="¿Quien visita mi web?"><img src="http://www.cerotec.net/contador.php?t=29&s=2&i=78630" alt="Contador de visitas y estadísticas"></a> <br><a 
href='http://www.cerotec.net/diseno-grafico/' style='font-size:12px;' ></a></center></div>
		</aside></div></div></div>
	<div class="container">
		
		<div class="col-md-3 company-details"><div class="zerif-footer-address">Guarenas, Edo Miranda. Venezuela</div></div><div class="col-md-3 company-details"><div class="zerif-footer-email"><a 
href="manuel_bmxriders@hotmail.com">manuel_bmxriders@hotmail.com</a></div></div><div class="col-md-3 company-details"><div class="zerif-footer-phone"><a href="tel:0212 889 13 51">0212 889 13 51</a></div></div><div class="col-md-3 copyright"><p 
id="zerif-copyright">WashuWachu 2016</p><div class="zerif-copyright-box"><a class="zerif-copyright" href="http://themeisle.com/themes/zerif-lite/" target="_blank" rel="nofollow">Zerif Lite </a>funciona con <a class="zerif-copyright" 
href="http://wordpress.org/" target="_blank" rel="nofollow"> WordPress</a></div></div> </div> <!-- / END CONTAINER --> </footer> <!-- / END FOOOTER -->
	</div><!-- mobile-bg-fix-whole-site --> </div><!-- .mobile-bg-fix-wrap --> <script type='text/javascript'> /* <![CDATA[ */ var wc_add_to_cart_params = 
{"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"Ver carrito","cart_url":"http:\/\/washuwachu.hol.es\/carro\/","is_cart":"","cart_redirect_after_add":"no"}; /* ]]> */ </script> <script 
type='text/javascript' src='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.6.3'></script> <script type='text/javascript' 
src='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script> <script type='text/javascript'> /* <![CDATA[ */ var woocommerce_params = 
{"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"}; /* ]]> */ </script> <script type='text/javascript' src='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.6.3'></script> 
<script type='text/javascript' src='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script> <script type='text/javascript'> /* <![CDATA[ */ var wc_cart_fragments_params = 
{"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"}; /* ]]> */ </script> <script type='text/javascript' 
src='//washuwachu.hol.es/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.6.3'></script> <script type='text/javascript' src='http://washuwachu.hol.es/wp-content/themes/zerif-lite/js/bootstrap.min.js?ver=20120206'></script> 
<script type='text/javascript' src='http://washuwachu.hol.es/wp-content/themes/zerif-lite/js/jquery.knob.js?ver=20120206'></script> <script type='text/javascript' 
src='http://washuwachu.hol.es/wp-content/themes/zerif-lite/js/smoothscroll.js?ver=20120206'></script> <script type='text/javascript' src='http://washuwachu.hol.es/wp-content/themes/zerif-lite/js/scrollReveal.js?ver=20120206'></script> <script 
type='text/javascript' src='http://washuwachu.hol.es/wp-content/themes/zerif-lite/js/zerif.js?ver=20120206'></script> <script type='text/javascript' src='http://washuwachu.hol.es/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script> </body>
</html>
